<%- include("header") -%>
<div class="login-comp">
  <i class="fa-solid fa-book-open"></i>
  <p class="title">Login your account</p>
  <p class="err-message"><%= errorMsg %></p>
  <form action="/" method="post">
    <input type="email" placeholder="Email" name="username" />
    <br />
    <input type="password" placeholder="password" name="password" />
    <br />
    <button type="submit">LOGIN</button>
  </form>
  <div class="or-tab">or</div>
  <a href="/auth/google">
    <div class="google-btn">
      <i class="fa-brands fa-google"></i>
      <p>Sign in with google</p>
    </div>
  </a>
  <a href="/auth/facebook">
    <div class="fb-btn">
      <i class="fa-brands fa-facebook-f"></i>
      <p>Sign in with facebook</p>
    </div>
  </a>
  <p class="reg-text">
    Don't have an account? <a href="/register">Create here</a>
  </p>
</div>
